<div class="container-fluid loginContainer">
  <a routerLink="/home" class="float-right btn btn-success">Home</a>
  <a routerLink="/register" class="float-right btn btn-success">Register</a>
</div>

<div class="container-fluid loginForm">

  <div class="login-page">
  <div id="nav-login" >
    <form class="form">
      <input [(ngModel)]="username"
             placeholder="username"
             class="form-control"/>
      <input [(ngModel)]="password"
             placeholder="password"
             class="form-control"/>
      <button (click)="login(username, password)"
              class="btn btn-primary btn-block">
        Login
      </button>


      <div *ngIf="isError" class="customError alert alert-danger">
        <strong>Error!</strong> Invalid Credentials.
      </div>
    </form>
  </div>
  </div>

</div>
