<div class="container-fluid sectionHeaderContainer">
  <a routerLink="/home" class="float-right btn btn-success">Home</a>
</div>

<div class="container-fluid sectionContainer">
  <h1>Sections for course: {{courseName}} </h1>
  <div *ngIf="userRole == 'ADMIN'">
    <div class="row addSection">
      <div class="col-sm-5">
        <input [(ngModel)]="sectionName"
               placeholder="Section Name"
               class="form-control">
      </div>
      <div class="col-sm-5">
        <input [(ngModel)]="seats"
               placeholder="Seats available"
               class="form-control">
      </div>
      <div class="col-sm-2">
        <button (click)="createSection(sectionName, seats)" class="btn btn-success btn-block">
          Add Section
        </button>
      </div>
    </div>
  </div>

  <ul class="list-group">

    <li *ngFor="let section of sections" class="list-group-item">
      <div *ngIf="userRole == 'STUDENT'">
        <button (click)="enroll(section)"
                class="float-right btn btn-primary">Enroll</button>
      </div>
      <div *ngIf="userRole == 'ADMIN'">
        <button (click)="updateSectionModal(updateSection, section)"
                class="float-right btn btn-info">Update</button>
        <button (click)="deleteSectionModal(deleteSection, section)"
                class="float-right btn btn-danger">Delete</button>

      </div>
      <p><b> Name</b>  : {{section.name}} </p>
      <p><b> Maximum Seats</b>  : {{section.seats}}</p>
      <p><b> Available Seats</b>  : {{section.availableSeats}}</p>

      <ngb-accordion *ngIf="userRole == 'ADMIN'" #acc="ngbAccordion" >
        <ngb-panel title="View Students">
          <ng-template ngbPanelContent>

            <table class="table">
              <thead>
              <tr>
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Grade</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of section.students" >
                      <td>{{student.username}}</td>
                      <td>{{student.firstName}}</td>
                      <td>{{student.lastName}}</td>
                      <td>{{student.email}}</td>
                      <td>A</td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

    </li>
  </ul>


  <ng-template #updateSection let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Update Section</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label hidden [(ngModel)]="updateSectionId" name="updateSectionId"></label>
          <label>Section Name</label>
          <input [(ngModel)]="updatedSectionName" name="sectionName"
                 placeholder="Section Name"
                 class="form-control">
          <label>Maximum Seats</label>
          <input [(ngModel)]="updatedSeats" name="seats"
                 placeholder="Seats available"
                 class="form-control">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('updateSection')">Save</button>
    </div>
  </ng-template>


  <ng-template #deleteSection let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Delete Section</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <label hidden [(ngModel)]="deleteSectionId" name="deleteSectionId"></label>
        <div class="form-group">
          <label> Are you sure you want to delete this section? </label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('deleteSection')">Yes</button>
      <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">No</button>
    </div>
  </ng-template>



</div>
