.sectionContainer button{
  margin-left: 5px;
}

.sectionHeaderContainer a {
  margin-top: 10px;
  margin-left :10px;
  margin-bottom:10px;
}

.sectionContainer .addSection {
  margin-top: 10px;
  margin-bottom: 10px;
}


