.registerContainer a {
  margin-left: 10px;
  margin-top : 5px;
}


.registerContainer a {
  margin-left: 10px;
  margin-top : 5px;
}

.registerForm input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.registerForm .customError{
  margin-top: 10px;
}
